@model MVC_MPICTURE.Models.DTO.addImageDTO

@{
    ViewBag.Title = "Tạo mới hình ảnh";
}

<style>
    body {
        background-image: url('https://th.bing.com/th/id/R.444ee05f7214d0733408ed264aa162c0?rik=y5VdqX%2boTOhlbg&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f04%2flandscape-wallpaper-hd-backgrounds.jpg&ehk=NstFyx3yEGqPuC1FsArlbLzq%2bbCyPnobk4HDI9yiGR4%3d&risl=&pid=ImgRaw&r=0');
        color:white;
    }

    h2 {
        color: #fff;
        margin-top: 20px;
    }

    .alert {
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn-primary {
        margin-top: 20px;
    }
</style>

<h2>Tạo mới hình ảnh</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Url)
        @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateAdded)
        @Html.TextBoxFor(model => model.DateAdded, "{0:yyyy-MM-dd}", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DateAdded, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, "Danh mục")
        @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.Categories, "Chọn danh mục", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TagIds, "Thẻ")
        @Html.ListBoxFor(model => model.TagIds, (SelectList)ViewBag.Tags, new { @class = "form-control", multiple = "multiple" })
        @Html.ValidationMessageFor(model => model.TagIds, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Tạo</button>
}
